if type==3
  li.girlTask_liveflag.task_titleline
    .goddess_single
      em
        span#girlTask_beginTime
      span#girlTask_title
      span#girlTask_playback
        a#girlTask_playbackurl.blue1.fr.back_lookbtn(href="javascript:void(0);")= "回看"
      span#girlTask_playlive.hide
        a.loadding_live.fr(href="javascript:void(0);")
  li.mt_5
    p#girlTask_userRank1.crown_yellow= "1st："
      span#girlTask_userRank1name.name_color= "我是一号"
    p#girlTask_userRank2.crown_gray= "2nd："
      span#girlTask_userRank2name.name_color= "我是二号"
    p#girlTask_userRank3.crown_orange= "3rd："
      span#girlTask_userRank3name.name_color= "我是三号"
    p#girlTask_myRank.crown_no.yellow
      span#girlTask_mygirlrank.yellow
      span#girlTask_myRankName.name_color

if type==5
  li#girlTask_liveflag.task_titleline
    .goddess_single
      em
        span#girlTask_beginTime
        span#girlTask_title
        span#girlTask_playback
          a#girlTask_playbackurl.blue1.fr.back_lookbtn(href="javascript:void(0);")= "回看"
        span#girlTask_playlive.hide
          a.loadding_live.fr(href="javascript:void(0);")
  li.mt_5
    .task_titleline
      span#girlTask_girlname1.name_color= "刘静怡&nbsp;&nbsp;吃到"
        span#girlTask_foodToEat1= "10"
    .task_titleline
      span#girlTask_girlname2.name_color= "刘静怡&nbsp;&nbsp;吃到"
        span#girlTask_foodToEat2= "10"
    .task_titleline
      span#girlTask_girlname3.name_color= "刘静怡&nbsp;&nbsp;吃到"
        span#girlTask_foodToEat3= "10" 
    .task_titleline
      span#girlTask_girlnamemy.name_color= "刘静怡&nbsp;&nbsp;吃到"
        span#girlTask_foodToEatmy= "10"

if type==6
  li.girlTask_liveflag.task_titleline
    .goddess_single
      em
        span#girlTask_beginTime
      span#girlTask_title
      span#girlTask_playback
        a#girlTask_playbackurl.blue1.fr.back_lookbtn(href="javascript:void(0);")= "回看"
      span#girlTask_playlive.hide
        a.loadding_live.fr(href="javascript:void(0);")
  li#girlTask_resultArea.mt_5.hide
    .task_titleline
      span#girlTask_girlname1.name_color= "刘静怡&nbsp;&nbsp;吃到"
        span#girlTask_foodToEat1= "10"
    .task_titleline
      span#girlTask_girlname2.name_color= "刘静怡&nbsp;&nbsp;吃到"
        span#girlTask_foodToEat2= "10"
    .task_titleline
      span#girlTask_girlname3.name_color= "刘静怡&nbsp;&nbsp;吃到"
        span#girlTask_foodToEat3= "10"
    .task_titleline
      span#girlTask_girlnamemy.name_color= "刘静怡"
      span#girlTask_wishmy