h3= "要送给哪位选手？"
.pkg-girl-list.cl
  .pkg-girl curr(girlid=1)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=2)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=3)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=4)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=5)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=6)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=7)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=8)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=9)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"
  .pkg-girl curr(girlid=10)
    .pkg-girl-photo
      span
    .pkg-girl-name= "刘静怡"