if type==1
  span= '你的女神' 
    span.pinkText= girlname
  span= '参与了'+ title +'课程'
  br
  span= '这段时间获得到了' + popular +'人气值'
else if type==2
  span= '你的女神'
    span.pinkText= girlname
  span= '参与了'+ title +'运动活动'
  br
  span= '这段时间获得到了' + popular +'人气值'
else if type==3
  span= '你的女神'
    span.pinkText= girlname 
  //span= '参与了'+ title + '线索游戏，排位第'+ girlrank
  span= '排位第'+girlrank
  br
  span= '本次'+ title +'线索游戏用户贡献排名前三甲'
else if type==4
  span= '你的女神'
    span.pinkText= girlname 
  //span= '参与了'+ title +'节目竞赛，排位第'+ girlrank
  span= '排位第' + girlrank
  br
  span= '本次'+ title +'线索游戏用户贡献排名前三甲'
else if type==5
  span= '你的女神'
    span.pinkText= girlname
  span= '进食了美味的早餐/中餐/晚餐'
  br
  span= '参与本次投资的用户'
else if type==6
  span= '你的女神开启了许愿瓶'
  br
  span= '被抽中参与最多的粉丝如下'
else if type==7
  span= '你的女神'
    span.pinkText= girlname 
  span= '与众粉丝互动'
  br
  span= '这段时间获得到了' + popular +'人气值'
else if type==8
  span= '你的女神'
    span.pinkText= girlname
  span= '处于休息时间'
  br
  span= '这段时间获得到了' + popular +'人气值'
else if type==9
  span= '你的女神'
    span.pinkText= girlname
  span= '在free time状态'
  br
  span= '这段时间获得到了' + popular +'人气值'
else if type==10
  span= '你的女神 在心愿单环节成功还愿'
  br
  span= '女神心愿：XXXXX000000'
else
  span.no