.ladyStatusInner
  .ladyTab.cl
    .ladyOption
      span.ladyOptionsWrap
        span.ladyOption.curr(item="details")
          a.iconDetails(href="javascript:void(0)")
        span.ladyOption.disable(item="diaries")
          a.iconDiaries(href="javascript:void(0)")
        span.ladyOption.disable(item="presents")
          a.iconPresents(href="javascript:void(0)")

  .ladyContent.cl.ladyContentCurr(item="details",style="display: block;")
    span.tip(style="top:22px;left:113px;display:none;")= globalUtil.userInfo.usrnick+",不是说好做彼此的天使么~!"
      span.iconHeart
    .ladyPhoto2
      .name
        img(src=resUrl+"orig/images/girlName_" + window.girlid + ".png")
      .photo
        img(src=resUrl+"orig/images/girl/" + window.girlid + "/154x356/1")
    .ladyDetailInfo
      .pointCount
        .currentCount(style="padding-top:0px;")= globalUtil.showImgNum(score)
      ul.text.cl
        li
          span= "人气值："
          span.progressBar.clearfix
            span.star= popularlevel
            span.progress#girlCurrentPoplular2(popular=popular)
              span.currentPercent(style="width:")
                span.currentData.wordkeep= ""
        li
          span= "生日：" + birthday
        li
          span= "星座：" + astro_name 
        li
          span= "三围：" + vital
        li(style="height:44px;")
          span= "个人宣言：" +manifesto
    .otherItems.scrollbars#girlStatusItemsBar
      .scrollbar
        .scroll_up
          .track
            .thumb
              .thumb_end
        .scroll_down
      .viewport
        .overview
  .ladyContent.cl(item="diaries",style="display: none;",isload="0")
  .ladyContent.cl(item="presents",style="display: none;",isload="0")