.basicInfo.cl
  #ladyPhoto.photo
    img(width="80",height="80",src=window.resUrl + "girl/" + window.girlid + "/50")
  .mainInfo
    .ladyNameAndLevel
      span#ladyName.ladyName(style="background-image:url(" + window.resUrl + "orig/images/girlName_" + window.girlid + ".png)")
      span.ladyLevel
        span.levelIcon      
        span.levelCount  
    .winCount.clearfix
      span.currentCount!= globalUtil.showImgNum(dream_money)
    .progressBar.clearfix
      span.star= popularlevel
      span#girlCurrentPoplular.progress.pr(popular=popular)
        - var per = parseInt((parseInt(popular) - popularlevelmin) / (popularlevelmax - popularlevelmin) * 100) + '%' //当前人气值和下个人气值等级百分比
        span.currentPercent(style="width:" + per)
        span.currentData.wordkeep= per
      span.starTitle= popularleveltitle
  .followInfo.cl
    span.followers
      span.icons.iconFollow
      span#countFollow.countFollow= globalUtil.commafy(fans)   
      a#followBtn(class="icons followBtn" + ((userInfo && userInfo.girlid == window.girlid) ? ' disabled' : (userInfo && userInfo.girlid != 0  && isout != '1'? ' already' : '')))
        span.followIcon
    a.diary(href='javascript:;')
      span.icons.iconDiary    
      span.text
        | &#x65E5;&#x8BB0;&#x7C3F;
  .gselfrank.cl
    .dreamrank.yellow_2
      p 梦想排名
      p= dreamrank
    .populrank.yellow_3
      p 人气排名
      p= poprank
div(data-module="numtip",data-module-numtip="girl")