img(class="giftimg buy_gift",data-flash=name,data-id=(children ? children[0].id : id),data-pid=id,data-num="1",src=window.resUrl + 'item/' + id + '/60/1/' + quality)
- var cmark;
if locals['class'] === '7'
  - cmark = 4
if suhocond == 1
  - cmark = 1
if suhocond > 1
  - cmark = 2
if event == '101'
  - cmark = 3
if cmark
  .c_markbg
    ins(class="cmark_" + cmark)
- var availableColors = ['gray','q_white','q_green','q_blue','q_purple','q_orange'];
p(class=availableColors[quality - 1])= name
p
  span.get_drill
    - var imgSrc = window.resUrl + 'images/player3/blue_drill.png'
    if bidtype == '1'
      - imgSrc = window.resUrl + 'images/prop_icon/yellow_goldimg.png'
    - var width = 12;
    if bidtype == '2'
      - width = 14
    img(src=imgSrc,style="width:" + width + "px;height:12px;")
    = bid
div.itemdetail(data-module="itemdetail",data-module-itemdetail="gift")