.task-item(data-taskid=taskid)
  if status === '4' || status === '5'
    .clearfix
      a(href="javascript:;",class="task-reward",title=name)
        span.yellow.ok_btn.fl= name
      a(href="javascript:;",class="task-reward")
        span.blue1.fr 领取奖励
  else
    a(href="javascript:;",class="green mtb_3 toggle_btn add_btn")
    a(href="javascript:;",class="task-name",title=name)
      span.green= name
    - quicklink1 = quicklink1.replace(/#(.*)#/,'<a href="javascript:;" data-effect="' + opteffect1 + '" class="quicklink" data-module="quicklink">$1</a>');
    p.open_box.hide!= quicklink1