for item in result
  if item.length > 0
    for user in item
      li(data-itemid=user.ssoid)
        img(class="photobg lights"+user.angel,src=window.resUrl + "head/" + user.ssoid + "/40",style="width:18px;height:18px;max-height:18px;")
        span.chat_icons
          if (user.angel != 0)
            img(src=window.resUrl + "orig/images/flying"+ user.angel+".png")
          if (user.vip==1)
            img(width="18",src=window.resUrl + "orig/images/vip.png")
        span.uname= user.usrnick

