extends ../raise/index

block append description
  p.w120= description

block append cardName
  | 使用服装卡&nbsp;&nbsp;

block append img
  .close_img.imgbox.fl
    img(src=window.resUrl + 'item/' + itemid + '/76/1/' + quality)

block append nextImg
  .close_img.imgbox.fl
    img(src=window.resUrl + 'item/' + itemid + '/76/1/' + toquality)

block append tips
  p.gray ※若女神没有换此衣服，将全款退还

block append priceDesc
  .mt_10
    | 已集资/
    span(class=nextColor)
      = nextColorName
      | 品质价
      span.goods_help_show

block append chengbao_wd
  div.gray.chengbao_wd
    p
      | 这里被：
    p
      | 俏CIAO承包了

block append raiseBtn
  .w90.btn_1y.ml_60.mt_20.mb_5(data-baidu,data-baidu-category="clothes",data-baidu-action="click_raise",data-baidu-label=itemid) 朕要出价