.persianMerchants_img
    img(src=window.resUrl + 'images/prop_icon/merchants_girlsimg.png')
.merchants_rightmain
  .persianMerchants_title
    span
  | &#x9;
  .merchants_rightcon.pr
    ul.cl
      li.ml_40.mr_10
        .discountimg_con.fl.pr
          .discounticonbox
            p
              img#item0img(width='78', src=window.resUrl + 'images/prop_icon/iconbg_80_link.png')
          |                     
          #item0discountten.discount_number_con
            #item0discountone.discount_number_list
              span.discount_number_8
              |                           
              span.discount_number_pointer
              |                           
              span.discount_number_8
              |                           
              span.discount_word
        | &#x9;&#x9;&#x9;&#x9;
        #item0.discountimg_introduce.fl.mt_03
          p.yellow_3
            span#item0name
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.cost_price.gray.mt_02
            | &#x539F;&#x4EF7;&#xFF1A;
            img#item0pricetype(width='16', src=window.resUrl + 'images/prop_icon/gray_goldimg.png')
            span#item0oldprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | &#x73B0;&#x4EF7;&#xFF1A;
            img#item0pricetype1(width='16', src=window.resUrl + 'images/prop_icon/yellow_goldimg.png')
            span#item0newprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mt_02
            | &#x6BCF;&#x65E5;&#x9650;&#x8D2D;&#xFF1A;
            span#item0limitme.green
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            a#item0refresh.w80.fl.mr_2.btn_3b(href='#') &#x5237;&#x65B0;&#x6298;&#x6263;
            a#item0buy.w50.btn_4y.fl(href='#') &#x8D2D;&nbsp;&#x4E70;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          input#item0id(type='hidden', value='')
      | &#x9;&#x9;&#x9;
      li
        .discountimg_con.fl.pr
          .discounticonbox
            p
              img#item1img(width='78', src=window.resUrl + 'images/prop_icon/iconbg_80_link.png')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #item1discountten.discount_number_con
            #item1discountone.discount_number_list
              span.discount_number_8
              |                           
              span.discount_number_pointer
              |                           
              span.discount_number_8
              |                           
              span.discount_word
        | &#x9;&#x9;&#x9;&#x9;
        #item1.discountimg_introduce.fl.mt_03
          p.yellow_3
            span#item1name
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.cost_price.gray.mt_02
            | &#x539F;&#x4EF7;&#xFF1A;
            img#item1pricetype(width='16', src=window.resUrl + 'images/prop_icon/gray_goldimg.png')
            span#item1oldprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | &#x73B0;&#x4EF7;&#xFF1A;
            img#item1pricetype1(width='16', src=window.resUrl + 'images/prop_icon/yellow_goldimg.png')
            span#item1newprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mt_02
            | &#x6BCF;&#x65E5;&#x9650;&#x8D2D;&#xFF1A;
            span#item1limitme.green
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            a#item1refresh.w80.btn_3b.fl.mr_2(href='#') &#x5237;&#x65B0;&#x6298;&#x6263;
            a#item1buy.w50.btn_4y.fl(href='#') &#x8D2D;&nbsp;&#x4E70;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          input#item1id(type='hidden', value='')
      | &#x9;&#x9;&#x9;
      li.mt_20
        .discountimg_con.fl.pr
          .discounticonbox
            p
              img#item2img(width='78', src=window.resUrl + 'images/prop_icon/iconbg_80_link.png')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #item2discountten.discount_number_con
            #item2discountone.discount_number_list
              span.discount_number_8
              |                           
              span.discount_number_pointer
              |                           
              span.discount_number_8
              |                           
              span.discount_word
        | &#x9;&#x9;&#x9;&#x9;
        #item2.discountimg_introduce.fl.mt_03
          p.yellow_3
            span#item2name
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.cost_price.gray.mt_02
            | &#x539F;&#x4EF7;&#xFF1A;
            img#item2pricetype(width='16', src=window.resUrl + 'images/prop_icon/gray_goldimg.png')
            span#item2oldprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | &#x73B0;&#x4EF7;&#xFF1A;
            img#item2pricetype1(width='16', src=window.resUrl + 'images/prop_icon/yellow_goldimg.png')
            span#item2newprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mt_02
            | &#x6BCF;&#x65E5;&#x9650;&#x8D2D;&#xFF1A;
            span#item2limitme.green
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            a#item2refresh.w80.btn_3b.fl.mr_2(href='#') &#x5237;&#x65B0;&#x6298;&#x6263;
            a#item2buy.w50.btn_4y.fl(href='#') &#x8D2D;&nbsp;&#x4E70;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          input#item2id(type='hidden', value='')
      | &#x9;&#x9;&#x9;
      li.ml_90.mt_20
        .discountimg_con.fl.pr
          .discounticonbox
            p
              img#item3img(width='78', src=window.resUrl + 'images/prop_icon/iconbg_80_link.png')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #item3discountten.discount_number_con
            #item3discountone.discount_number_list
              span.discount_number_8
              |                           
              span.discount_number_pointer
              |                           
              span.discount_number_8
              |                           
              span.discount_word
        | &#x9;&#x9;&#x9;&#x9;
        #item3.discountimg_introduce.fl.mt_03
          p.yellow_3
            span#item3name
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.cost_price.gray.mt_02
            | &#x539F;&#x4EF7;&#xFF1A;
            img#item3pricetype(width='16', src=window.resUrl + 'images/prop_icon/gray_goldimg.png')
            span#item3oldprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | &#x73B0;&#x4EF7;&#xFF1A;
            img#item3pricetype1(width='16', src=window.resUrl + 'images/prop_icon/yellow_goldimg.png')
            span#item3newprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mt_02
            | &#x6BCF;&#x65E5;&#x9650;&#x8D2D;&#xFF1A;
            span#item3limitme.green
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            a#item3refresh.w80.btn_3b.fl.mr_2(href='#') &#x5237;&#x65B0;&#x6298;&#x6263;
            a#item3buy.w50.btn_4y.fl(href='#') &#x8D2D;&nbsp;&#x4E70;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          input#item3id(type='hidden', value='')
      | &#x9;&#x9;&#x9;
      li.ml_40.mr_10.mt_20
        .discountimg_con.fl.pr
          .discounticonbox
            p
              img#item4img(width='78', src=window.resUrl + 'images/prop_icon/iconbg_80_link.png')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #item4discountten.discount_number_con
            #item4discountone.discount_number_list
              span.discount_number_8
              |                           
              span.discount_number_pointer
              |                           
              span.discount_number_8
              |                           
              span.discount_word
        | &#x9;&#x9;&#x9;&#x9;
        #item4.discountimg_introduce.fl.mt_03
          p.yellow_3
            span#item4name
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.cost_price.gray.mt_02
            | &#x539F;&#x4EF7;&#xFF1A;
            img#item4pricetype(width='16', src=window.resUrl + 'images/prop_icon/gray_goldimg.png')
            span#item4oldprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | &#x73B0;&#x4EF7;&#xFF1A;
            img#item4pricetype1(width='16', src=window.resUrl + 'images/prop_icon/yellow_goldimg.png')
            span#item4newprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mt_02
            | &#x6BCF;&#x65E5;&#x9650;&#x8D2D;&#xFF1A;
            span#item4limitme.green
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            a#item4refresh.w80.btn_3b.fl.mr_2(href='#') &#x5237;&#x65B0;&#x6298;&#x6263;
            a#item4buy.w50.btn_4y.fl(href='#') &#x8D2D;&nbsp;&#x4E70;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          input#item4id(type='hidden', value='')
      | &#x9;&#x9;&#x9;
      li.mt_20
        .discountimg_con.fl.pr
          .discounticonbox
            p
              img#item5img(width='78', src=window.resUrl + 'images/prop_icon/iconbg_80_link.png')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          #item5discountten.discount_number_con
            #item5discountone.discount_number_list
              span.discount_number_8
              |                           
              span.discount_number_pointer
              |                           
              span.discount_number_8
              |                           
              span.discount_word
        | &#x9;&#x9;&#x9;&#x9;
        #item5.discountimg_introduce.fl.mt_03
          p.yellow_3
            span#item5name
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.cost_price.gray.mt_02
            | &#x539F;&#x4EF7;&#xFF1A;
            img#item5pricetype(width='16', src=window.resUrl + 'images/prop_icon/gray_goldimg.png')
            span#item5oldprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | &#x73B0;&#x4EF7;&#xFF1A;
            img#item5pricetype1(width='16', src=window.resUrl + 'images/prop_icon/yellow_goldimg.png')
            span#item5newprice
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mt_02
            | &#x6BCF;&#x65E5;&#x9650;&#x8D2D;&#xFF1A;
            span#item5limitme.green
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            a#item5refresh.w80.btn_3b.fl.mr_2(href='#') &#x5237;&#x65B0;&#x6298;&#x6263;
            a#item5buy.w50.btn_4y.fl(href='#') &#x8D2D;&nbsp;&#x4E70;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          input#item5id(type='hidden', value='')
    | &#x9;&#x9;
    .once_flushcon.tc
      #psrButton.onceflush_btn
      | &#x9;&#x9;&#x9;
      #psrButtonSelf.onceflush_btn.hide
      | &#x9;&#x9;&#x9;
      p#persiaTime.green &#x5237;&#x65B0;&#x5012;&#x8BA1;&#x65F6;&#xFF1A;00:09:12
