.goddess_ranking_offer.cl
  p.tc.tips_red 赠送我的人气道具我就收下啦，谢咯~！
  ul.popularity_offer_pk.pr.cl
    for user,index in result.ranks
      if index < 3
        li(class="user_photo_" + (index + 1))
          div(class="pk_user_photpbg" + (index + 1))
            img(src=window.resUrl + 'girl/' + window.girlid + '/50')
            ins
          .cl.mt_020
            if user.usrangel != '0'
              span(class=(user.usrangel == '1' ? "angel_icon_gray" : 'angel_icon_lingts'))
            if user.usrvip != '0'
              span.vip_icon
            span.blue2= user.usrnick
          p.yellow_4.mt_02= '人气贡献值：' + globalUtil.commafy(user.pop)
  .cl.ranking_hr
  ol.cl.popularity_offer_rank
    for user,index in result.ranks
      if index > 2
        li
          .fl
            span.w24= index + 1
            span.blue2= user.usrnick
            if user.usrangel != '0'
              img(src=window.resUrl + "orig/images/flying" + user.usrangel + ".png",style="height:15px;")
            if user.usrvip != '0'
              img(width="18",src=window.resUrl + "orig/images/vip.png")
          .fr.yellow_4= '人气贡献值：' + globalUtil.commafy(user.pop)
if result.myrank > 1
  .ranking_footerbg.tc.cl
    p.no_partake.hide.red 您今日尚未参与集资
    .have_partaked.cl
      .fl
        span 我的排名：
        span= result.myrank
      .fr.yellow_4= '我的人气贡献值：' + globalUtil.commafy(result.mypop)