if gametype === '2'
  - targetfunds = field1.num
if !firstfunds
  - firstfunds = curfunds
- curfunds = curfunds * 1
- targetfunds = targetfunds * 1
- firstfunds = firstfunds * 1
.financing_props
  .financing_props_tit.cl
    p.fl.mt_5.eventname
      if firstfunds < targetfunds
        span.red(data-module="countdown",data-seconds=countdown)
        | 后结束
      span.yellow.desc= eventname
    if firstfunds < targetfunds || (subtype != '6' && curfunds < targetfunds)
      p.fr
        //- span.get_drill.fl
        //-   - var imgSrc = window.resUrl + 'images/player3/blue_drill.png'
        //-   if bidtype == '1'
        //-     - imgSrc = window.resUrl + 'images/prop_icon/yellow_goldimg.png'
        //-   img(src=imgSrc)
        //-   = bid
        a.w70.btn_4y.fl.btn_raise(href='javascript:;') 集&nbsp;&nbsp;资           
  p.cl.mt_5= content
  .financing_props_con.cl
    .goddess_photo_rank.fl
      ul.cl
        if !('girl' in locals)
          li.player_2(style='left:' + Math.max(0,(Math.min(firstfunds / targetfunds,1) * 299 - 27)) + 'px;')
            a(href='javascript:;')
              img(src=window.resUrl + 'girl/' + window.girlid + '/50' width="44")
        else if girl == '0'
          li.player_2(style='left:' + Math.max(0,(Math.min(firstfunds / targetfunds,1) * 299 - 27)) + 'px;')
            a(href='javascript:;')
              img(src=window.resUrl + 'girl/' + window.girlid + '/50' width="44")
        else if girl == window.girlid
          li.player_2(style='left:' + Math.max(0,(Math.min(firstfunds / targetfunds,1) * 299 - 27)) + 'px;')
            a(href='javascript:;')
              img(src=window.resUrl + 'girl/' + window.girlid + '/50' width="44")
        else
          li.player_1(style='left:' + Math.max(0,(Math.min(curfunds / targetfunds,1) * 299 - 27)) + 'px;')
            a(href='javascript:;')
              //- img(src=window.resUrl + 'images/player3/play_games_photo_40.png')
              img(src=window.resUrl + 'girl/' + window.girlid + '/50' width="34")
          li.player_2(style='left:' + Math.max(0,(Math.min(firstfunds / targetfunds,1) * 299 - 27)) + 'px;')
            a(href='javascript:;')
              img(src=window.resUrl + 'girl/' + girl + '/50' width="44")
      if firstfunds < targetfunds
        .financingProgress_bar
          .arrow.pr
            .Progress_smaillbar_img(style='width:' + Math.max(0,(Math.min(curfunds / targetfunds,1) * 299 - 20)) + 'px;')
              span.arrow_smaillpointer
                span.Progress_number(style="display:none;")= globalUtil.commafy(curfunds - targetfunds)
      else
        .financingProgress_barfull
          span.Progress_number(style="display:none;")= globalUtil.commafy(curfunds - targetfunds)
    .fr.tc.financing_props_img.on
      a(href="javascript:;")
        if firstfunds < targetfunds
          img(src=window.resUrl + 'item/' + field1.id + '/50/1/' + quality,style="background:initial")
        else
          img(src=window.resUrl + 'item/' + field1.id + '/50/1/' + quality)
        - var availableColors = ['gray','q_white','q_green','q_blue','q_purple','q_orange'];
        p(class=availableColors[quality - 1])= field1.name
