p.fr.username_title.mt_3
  span.navUsername.fl(islogin=(username ? '1' : '0'))              
    if isLogin
      if usrangel !== '0'
        span(class='angle_btn_lights_' + usrangel)
      span(class=(usrvip === '0' ? 'vip_btn_gray' : 'vip_btn_lights'))
      span.username.white= username
    else
      a.btn_login(href="javascript:;")= "登录"
      span &nbsp;&nbsp;
      a.btn_register(href="javascript:;")= "注册"
  if isLogin
    span.fl.up_pointer
ul.cl
  li
    div(class='user_photo fl ' + (usrangel === '0' ? '' : usrangel === '1' ? 'gray' : 'lights'))
      img(src=window.resUrl + "head/" + ssoid + "/40")
    .fr.w100
      .active_degree
      .user_grade.pr.cl
          .user_grade_number
            .p_vipgradei
          .user_grade_progress.fl
  //- li
  //-    a.my_space(href="javascript:;",target="_blank")= "我的空间"
  //- li
  //-   a.my_diary(href="javascript:;",target="_blank")= "我的日记"
  li
    a.account_settings(href=__global.base.i + '/setbasic', target='_blank')= "账户设置"
  li.no_bg
    a.signout_login(href="javascript:;")= "退出登录"