.popwinLeft(item="login")
  form#loginForm.cl(action="",onsubmit="",method="")
    input#login_token(type="hidden",name="login_token",value="")
    dl.login_item.cl
      dd.right.login_item_wrap.fl
        input#username.sign_input.input_288_38(name="username",type="text",placeholder="",autocomplete="off")
        span.signItem_tip= "请输入用户名"
      dd.sign_error(for="username")
    dl.login_item.cl
      dd.right.login_item_wrap.fl
        input#password.sign_input.input_288_38(name="password",type="password",placeholder="",autocomplete="off")
        span.signItem_tip= "请输入不少于6位密码"
      dd.sign_error(for="password")
    dl#loginVerify.login_item.cl(style="display: none;")
      dd.right.login_item_wrap.fl
        input#verify_code.sign_input.input_confrom(name="verify_code",type="text",autocomplete="off")
        span.signItem_tip(style="width: 100px;")= "验证码"
        span
          a(href="javascript:;")
            img#verify_img(src=accountUrl+"verifycode",width="110",height="38",hspace="10",vspace="0",border="0")
          a#refresh_verify_img(href="javascript:;")= "点击刷新"
      dd.sign_error(for="verify_code")
    .remember.cl
      span
        label(for="remember")
        input#remember(type="checkbox",name="remember",value="1",checked="checked")= "记住我"
      a.forget_pw(href=accountUrl + "findpassword",style="margin-left:5px")= "找回密码"
    .cl(style="margin-top:5px;")
      input.reg_bt.signToLogin(type="submit",value="登录",style="margin-left:0px;")
    .remember.cl(style="line-height:24px;margin-top:10px;")
      span= "没有账号？"