.popwinLeft(item="register",style="display:none")
  form#registerForm(action="",onsubmit="",method="")
    input#reg_token(type="hidden",name="reg_token",value="")
    dl.login_item.cl
      dd.right.login_item_wrap.fl
        input#reg_username.sign_input.input_288_38(name="reg_username",type="text",autocomplete="off")
        span.signItem_tip= "请输入用户名"
      dd.sign_error(for="reg_username")
    dl.login_item.cl
      dd.right.login_item_wrap.fl
        input#reg_password.sign_input.input_288_38(name="reg_password",type="password",autocomplete="off")
        span.signItem_tip= "请输入不少于6位密码"
      dd.sign_error(for="reg_password")
    dl.login_item.cl
      dd.right.login_item_wrap.fl
        input#confirm.sign_input.input_288_38(name="confirm",type="password",autocomplete="off")
        span.signItem_tip= "再次输入密码"
      dd.sign_error(for="confirm")
    dl.login_item.cl
      dd.right.login_item_wrap.fl
        input#reg_verify_code.sign_input.input_confrom(name="reg_verify_code",type="text",autocomplete="off")
        span.signItem_tip(style="width: 100px;")= "验证码"
        span
          a(href="javascript:;")
            img#reg_verify_img(src=accountUrl+"verifycode",width="110",height="38",hspace="10",vspace="0",border="0") 
            a#reg_refresh_verify_img(href="javascript:;")= "点击刷新"
      dd.sign_error(for="reg_verify_code")
    .remember
      a.login(href="javascript:;")= "《玩乐云用户使用协议》"
    .line.cl(style="line-height:24px; margin-top:5px;")
      input.reg_bt.signToRegister(type="submit",value="同意并注册",style="margin-left:0px;")
    .remember.cl(style="margin-top:10px;")
      span= "已有账号？"