.send_foodbox.game_listbox_food
  dl.give_foodcon.cl
    dt.food_type.fl
      p.mb_3.yellow_3= result.luxury.foodName
      img(width="40",height="40",src=window.resUrl + "item/1000000148/60/1/6")
    dd.lady_foodrank.fr
      .nowpopulrank.cl
        span.fl 当前人气前三名：
        ul.now_ladyrank.fl
          each girl in result.luxury.sentimentrank
            if girl
              li
                img(width="20",src=window.resUrl + "girl/" + girl.girlid + "/50",class="photobg lights2")
                span.name_color.fl= girl.name
      .lastpopulrank.cl.mt_10
        span.fl 上场比赛前三名：
        ul.now_ladyrank.fl
          each girl in result.luxury.gameRank
            if girl
              li
                img(width="20",src=window.resUrl + "girl/" + girl.girlid + "/50",class="photobg lights2")
                span.name_color.fl= girl.name
  dl.give_foodcon.cl
    dt.food_type.fl
      p.mb_3.white= result.ordinary.foodName
      img(width="40",height="40",src=window.resUrl + "item/1000000143/60/1/1")
    dd.lady_foodrank.fr
      .nowpopulrank.cl.rasic_foodrank
        //span.fl 当前人气前三名：
        ul.now_ladyrank.fl
          each girl in result.ordinary.girlRank
            if girl
              li
                img(width="20",src=window.resUrl + "girl/" + girl.girlid + "/50",class="photobg lights2")
                span.name_color.fl= girl.name