.send_foodbox.game_listbox_food
  .give_foodbox
    .food_tip.ml_10.fl.mt_5
      - var foods = {1:'早餐',2:'午餐',3:'晚餐'};
      - var availableColors = ['gray','q_white','q_green','q_blue','q_purple','q_orange'];
      if now
        if now.process == 1
          span.name_color= girl.name
          | 的
          = foods[now.subtype]
          | 将能吃到
          span(class=availableColors[now.toquality - 1])= now.toeat
        else if now.process == 2
          span.red.countdown(data-module="countdown",data-seconds=now.countdownSt)
          | 后
          span.name_color= girl.name
          | 的
          = foods[now.subtype]
          | 将能吃到
          span(class=availableColors[now.toquality - 1])= now.toeat
        else if now.process == 3
          span.red= moment(now.curtimeSt*1000 + now.countdownSt*1000).format('HH:mm')
          span.name_color= girl.name
          | 的
          = foods[now.subtype]
          | 能吃到
          span(class=availableColors[now.quality - 1])= now.girleat
        else if now.process == 4
          span.name_color= girl.name
          | 的
          = foods[now.subtype]
          | 正在吃
          span(class=availableColors[now.quality - 1])= now.girleat
        else if now.process == 5
          span.red= (now.endtime != "00月00日" ? '（' + now.endtime + '）' : '') + '明天'
          span.name_color= girl.name
          | 的
          = foods[now.subtype]
          | 将能吃到
          span(class=availableColors[now.toquality - 1])= now.toeat

        //- else if now.curtimeSt
        //-   if now.process < 3 || now.israise != false
        //-     span.red.countdown
        //-     | 后
        //-   span.name_color= girl.name
        //-   | 的
        //-   = foods[now.subtype]
        //-   if now.process < 3
        //-     - var color = availableColors[now.toquality - 1];
        //-     | 将吃到
        //-     span(class=color)= now.toeat
        //-   else
        //-     - var color = availableColors[now.quality - 1];
        //-     | 吃到了
        //-     span(class=color)= now.girleat
    if now.process < 3 || now.israise != false
      .fr.mr_5
        a.w90.btn_4y.fl(href="javascript:;",data-baidu,data-baidu-category="gift",data-baidu-action="click_better") 请她吃更好的
    ul.food_list.cl.mt_10.shop_tab_body
    .progress_bar_panel
    div(data-module="raise",data-module-raise="food")
    div(data-module="numtip",data-module-numtip="food")