div#GoldbgboxIn.goldbg_boxIn.cl
	div.golden_Content.cl
		div.goldengirls.fl
			img(src=window.resUrl + 'orig/images/prop_icon/golden_npcimg.png')
		div.goldenmain.fl
			div.golden_title
				span
			ul.goldencon.mt_15
				li
					div.fl.golden_imgL
						img(src=window.resUrl + 'orig/images/prop_icon/gold_1.png')
						span X5000
					div.fr.buy_btn.w60
						p 购&nbsp;&nbsp;买
						p.blue_drill 100
				li
					div.fl.golden_imgL
						img(src=window.resUrl + 'orig/images/prop_icon/gold_2.png')
						span X5000
					div.fr.buy_btn.w60
						p 购&nbsp;&nbsp;买
						p.blue_drill 100
				li
					div.fl.golden_imgL
						img(src=window.resUrl + 'orig/images/prop_icon/gold_4.png')
						span X5000
					div.fr.buy_btn.w60
						p 购&nbsp;&nbsp;买
						p.blue_drill 100
				li
					div.fl.golden_imgL
						img(src=window.resUrl + 'orig/images/prop_icon/gold_5.png')
						span X5000
					div.fr.buy_btn.w60
						p 购&nbsp;&nbsp;买
						p.blue_drill 100
				li
					div.fl.golden_imgL
						img(src=window.resUrl + 'orig/images/prop_icon/gold_6.png')
						span X5000
					div.fr.buy_btn.w60
						p 购&nbsp;&nbsp;买
						p.blue_drill 100
				li
					div.fl.golden_imgL
						img(src=window.resUrl + 'orig/images/prop_icon/gold_7.png')
						span X5000
					div.fr.buy_btn.w60
						p 购&nbsp;&nbsp;买
						p.blue_drill 100
				li
					div.fl.golden_imgL
						img(src=window.resUrl + 'orig/images/prop_icon/gold_8.png')
						span X5000
					div.fr.buy_btn.w60
						p 购&nbsp;&nbsp;买
						p.blue_drill 100