.angelPopInner.clearfix
  img.happyPopGirl(src=window.resUrl + 'girl/'+girlid+'/154x356', height='370')
  span.tip= username
    |,不是说好做彼此的天使么~!
    span.iconHeart
  .angelMain
    .cl.angelMain_date
      span.redText.fr(style='line-height:15px;')= "天使独享期限：" + moment().format('YYYY-MM-DD') + "至" + moment().add(1, 'month').add(-1 ,'days').format('YYYY-MM-DD')
    .clearfix
      .angelSilver.fl(item='silver')
        .flyingPrice.clearfix
          .flying
            img(src=window.resUrl + 'images/flying1.png')
          .flyingInfo
            .flyPrice 白银天使 188元/月
            .flyBtn.clearfix
              a.oBtn.fr.exchange-btn(href='javascript:;') 说到做到
        .flyTools.cl
          .flyText.cl
            h5.orangeText.text1(target='_blank', title='天使独享特权') 天使独享特权
          ul.clearfix
            for item in silver.privilege
              li.flyC.hover
                a(href="javascript:;")
                  img(width="100%", height="100%", src=item.picurl)
                span(class="flyTxt quality" + item.quality)= item.name

          .flyText.cl
            h6.orangeText.text2(title='白银天使享受以下福利：') 白银天使享受以下福利：
            p.yellowText
              for item in silver.reward 
                span= item
                br
      .angelGold.fr
        .flyingPrice.clearfix
          .flying
            img(src=window.resUrl + 'images/flying2.png')
          .flyingInfo
            .flyPrice 黄金天使 1314元/月
            .flyBtn.clearfix
              a.oBtn.fr.exchange-btn(href='javascript:;') 说到做到
        .flyTools.cl
          .flyText.cl
            h5.orangeText.text1(title='天使独享特权') 天使独享特权
          ul.clearfix
            for item in gold.privilege
              li.flyC.hover
                a(href="javascript:;")
                  img(width="100%", height="100%", src=item.picurl)
                span(class="flyTxt quality" + item.quality)= item.name

          .flyText.cl
            h6.orangeText.text2(title='黄金天使享受以下福利：') 黄金天使享受以下福利：
            p.yellowText
              for item in gold.reward 
                span= item
                br
    .dBtn.cl
      a.bBtn.fr.cancel-btn(href='javascript:;') 说着玩的
