.angel.cl
  span.icons.iconFlying
  a#angelBuying.angelText(href='javascript:void(0)')
    | 天使（共
    span.angelTotal= result.allcount
    | 位）
  a#angelBe.angelBe(href='javascript:void(0)')(style="display:none;")
    | 成为她的天使
.followersArea.cl
  #scrollbar1.followersWrap.cl.scrollbars
    .scrollbar
      .scroll_up
      .track
        .thumb
          .thumb_end
      .scroll_down
    .viewport
      ol.allFollowers.overview
        for item in result
          if item.length > 0
            for angel in item
              if angel.online==0
                li(data-itemid=angel.ssoid,data-name=angel.usrnick).pkg-gray
                  img(class="followerPicBg" + angel.angel,src=window.resUrl + "head/" + angel.ssoid + "/40")
                  span.followerText.textoverflow= angel.usrnick
                  if angel.vip==1
                    i.iconVip
              else
                li(data-itemid=angel.ssoid,data-name=angel.usrnick)
                  img(class="followerPicBg" + angel.angel,src=window.resUrl + "head/" + angel.ssoid + "/40")
                  span.followerText.textoverflow= angel.usrnick
                  if angel.vip==1
                    i.iconVip