style.
  #feedback_tab{
    top:500px;
  }
  #feedback_tab:hover{
    margin-left:0;
  }

script(type="text/javascript",src="http://geekui.com/static/js/widgets.js")
script.
  var options = {};
  options.company_sub_url = "wly";
  options.placement = "left";
  options.tab_define = true;
  options.display = "overlay";
  options.tab_name="用户反馈";
  options.font_color="#FFFFFF";
  options.background_color="#3d3d3d";
  options.border_radius="4";
  options.show_border="no";
  options.border_color="#222222";
  options.show_logo="no";
  var feedback_widget = new GKFN.feedback_widget(options);