#Nolock_boxinner.no_lock_box
    - var availableColors = ['gray','white','q_green','q_blue','q_purple','q_orange'];
    - var availableColorNames = ['灰色','白色','绿色','蓝色','紫色','橙色'];
    - var titleColor = availableColors[quality - 1];
    - var nextColor = availableColors[toquality - 1];
    - var nextColorName = availableColorNames[toquality - 1];
    - bid = dbid || bid || 10
    p(class=titleColor + ' close_title')= name
      .no_lock_boxcon.pr.mt_5
        .close_introduce.w200.cl
          block img
          .fl.ml_10
            block description
          block chengbao_wd
        //- if happybuf && lovebuf !== '0'
        //-   p.green 幸福度
        //-     span(class='expression_' + happybuf)
        if lovebuf && lovebuf !== '0'
          p.green= '亲密度：' + lovebuf
        //- if popbuf && popbuf !== '0'
        //-   p.green= '人气值：' + popbuf
        if toquality
          block priceDesc
          #Help_goods_showbox.goods_showbox.w200.hide
            p(class="mt_05 " + nextColor)= name 
            .close_introduce.cl.mt_10
              block nextImg
              .fl.mt_20.ml_10
                if happybuf
                  p.green
                    | &#x5E78;&#x798F;&#x5EA6;&#xFF1A;
                    span(class='expression_' + Math.min(5,happybuf * 1 + 1))
        .draw_money_number
          div(class=(bidtype === '1' ? 'yellow_gold' : 'blue_drill'))
            span.red= globalUtil.commafy(curfunds || 0) + '/'
            span.orange= globalUtil.commafy(targetfunds || price)
        .border_topline.cl
        .bid_price_box
          .bid_price
            label
              | &#x7ADE;&#x6807;&#x4EF7;    
            input.w80.bid_pricek.tl(type='text', value=bid)    
            //- a.w60.bid_pricebtn.tc(href='javascript:void(0);')
            //-   | 一键第一
          - card = card || 0
          if card > 0
            .use_sale
              block cardName
              span.use_card= Math.min(bid,card)
              | 张
              span.green= '（剩余' + card + '张）'
          p(style="margin-top:5px")
            | 总价格：
            - var className = 'blue_drill'
            if bidtype == '1'
              - className = 'yellow_gold'
            span(class="total_cost " + className)= Math.max(bid - card, 0)
          block raiseBtn
          block tips