.inbox.cl
	#email-header
	if success == 200
		#itemListBar.scrollbars
			.scrollbar
				.scroll_up
				.track
					.thumb
						.thumb_end
				.scroll_down
			.viewport.noemailFace
				ul#email-list.overview.emailList.cl
					for email in result
						if email.attachment
							if email.readstatus==1
								li.hr_noat(emailid=email.id,id='i'+email.id,readstatus=email.readstatus)
									.readmail_at.fl
									.from
										span.fl.title= email.title
										span.time
											span.timecon= email.showtime
									.fromexplain= "来自："
										span.from_title= email.sendername			 
							else
								li.on.noat_nr(emailid=email.id,id='i'+email.id,readstatus=email.readstatus)
									.newmail_at.fl
									.from
										span.fl.title= email.title
										span.time
											span.timecon= email.showtime
									.fromexplain= "来自："
										span.from_title= email.sendername   
						else
							if email.readstatus==1
								li.hr_noat(emailid=email.id,id='i'+email.id,readstatus=email.readstatus)
									.readmail.fl
									.from
										span.fl.title= email.title
										span.time
											span.timecon= email.showtime
									.fromexplain= "来自："
										span.from_title= email.sendername          
							else
								li.on.noat_nr(emailid=email.id,id='i'+email.id,readstatus=email.readstatus)
									.newmail.fl
									.from
										span.fl.title= email.title
										span.time
											span.timecon= email.showtime
									.fromexplain= "来自："
										span.from_title= email.sendername
	else
		.noemailFace
			.noemail_face



			
				