.scrollbars.popular-scroll
  .scrollbar
    .scroll_up
    .track
      .thumb
        .thumb_end
    .scroll_down
  .viewport
    .overview.ranking_pkcon_scroll.cl
      ul.popularity_rankgin_pk.pr.cl
        for item,index in result
          if index < 3
            if item.is_out ==0
              a(href="/room/" + item.girlid)
                li(class="user_photo_" + (index+1))
                  div(class="pk_user_photpbg" + (index+1))
                    img(src=window.resUrl + 'girl/' + item.girlid + '/50')
                    ins
                  p.mt_020.blue2= item.name
                  p.yellow_4.mt_05
                    span.f10= item.dream_money
        
      .cl.ranking_square_hr
      ol.cl.popularity_square_rank
        for item,index in result
          if index > 2
            if item.is_out ==0
              li
                a(href="/room/" + item.girlid)
                  .fl
                    span.w18.fl= (index + 1) + '.'
                    .pr.fl.star_photobg
                      img.photobg.lights0(width='20', src=window.resUrl + 'girl/' + item.girlid + '/50')
                    span.fl.name_color= item.name
                  .fr.yellow_4
                    | 梦想基金：
                    span.f10= item.dream_money
