.happyPopInner.clearfix
  - var haAvatar = {'1':'3','2':'3','3':'2','4':'2','5':'1'};
  img.happyPopGirl(src=resUrl+"girl/" + window.girlid + '/154x356/' + haAvatar[Math.min(cloth.hp || 1,food.hp || 1,live.hp || 1)],height="370",class="happyPopGirl")
  .happyMain.clearfix
    .happyWord
      span.iconArrow
      span.happyLight
        i.iconHappyBLight
          span.iconHappyB
        span.happyText
    - var ha =  { '1': '不幸福','2': '还不错','3': '开心了','4': '小幸福','5': '超幸福'};
    ul.happyDetail
      li.fl(item="cloth")
        .dText
          span.itemT= "衣服幸福度状态："
          span.currentState
            i(class="iconHappy iconHappy" + (cloth.hp * 1 || 1))
            = ha[(cloth.hp * 1 || 1)]
        .dText
          if cloth && cloth.itemid
            - var clothTimer = cloth.timer ? cloth.timer : "00:00:00";
            if cloth.isfortomorrow
              span.redText= "明天即将穿上"
            else
              span#timer_cloth.redText(seconds=clothTimer)= clothTimer
              | 后
              br
              | 即将换上：
              span(class="itemlevel" + cloth.quality)= cloth.name
          else
            | &nbsp;
            br
            span 目前还没有人给她买东西
        .dImg
          img(src=(cloth.itemid ? resUrl+"item/"+cloth.itemid+"/76" : resUrl + 'orig/images/noclothes.png'))
        .dBtn
          a.yBtn(href="javascript:;")(data-type="clothes") 给她选更好的

      li.fl(item="food")
        .dText
          span.itemT= "食物幸福度状态："
          span.currentState
            i(class="iconHappy iconHappy" + (food.hp * 1 || 1))
            = ha[(food.hp * 1 || 1)]
        .dText
          if food && food.itemid
            - var foodTimer = food.timer ? food.timer : "00:00:00";
            if food.isfortomorrow
              span.redText= "明天(" + moment().add(1,'days').format('MM月DD日') + ")"
            else
              span#timer_food.redText(seconds=foodTimer)= foodTimer
              | 后
            br
            | 即将吃到：
            span(class="itemlevel" + food.quality)= food.name
          else
            | &nbsp;
            br
            span 目前还没有人给她买东西
        .dImg
          img(src=(food.itemid ? resUrl+"item/"+food.itemid+"/90" : resUrl + 'orig/images/noitem.png'))
        .dBtn
          a.yBtn(href="javascript:;")(data-type="food") 请她吃更好的

      li.fr(item="live")
        .dText
          span.itemT=  "环境幸福度状态："
          span.currentState
            i(class="iconHappy iconHappy" + (live.hp * 1 || 1))
            = ha[(live.hp * 1 || 1)]
        .dText
          if live && live.itemid
            span
            br
            | 即将收到：
            span(class="itemlevel" + live.quality)= live.name
          else
            | &nbsp;
            br
            span 目前还没有人给她买东西
        .dImg
          img(src=(live.itemid ? resUrl+"item/"+live.itemid+"/90" : resUrl + 'orig/images/noitem.png'))
        .dBtn
          a.yBtn(href="javascript:;")(data-type="homefurn") 让她住更好的