// 暴击提示
- var availableColors = ['gray','q_white','q_green','q_blue','q_purple','q_orange'];
#crittipsStatusInner.pr
  .crittips_Content.cl
    .crittips_title
      .lights_show
        span
    | &#x9;   
    .crittips_main.pr
      .tips_grils
        img(src=window.resUrl + 'orig/images/prop_icon/tips_grils_125.png')
      | &#x9;        
      .cl.crittips_con
        // 看清楚哦~这里的暴击提示有2种情况 可以分批显示
        if actionType === 'buy'
          .give_goods.cl.mt_15
            p.cl.yellow_2.mt_10
              | 您刚刚赠送的
              span(class=availableColors[quality - 1])= name
              | 触发了暴击！
            p.yellow_2.mt_2
              | 您支持得选手
              span.name_color= girlname
              | 获得:
            if result.lovebuf
              p.ml_30.mt_2
                | 幸福值
                span.yellow= '+' + result.lovebuf + '(暴击x' + result.crit + ')'
            if result.popbuf
              p.ml_30.mt_2
                | 人气值
                span.yellow= '+' + result.popbuf + '(暴击x' + result.crit + ')'
        if actionType === 'raise'
          .goods_jizi.cl
            p.cl.yellow_2.mt_10 &#x60A8;&#x521A;&#x521A;&#x7684;&#x96C6;&#x8D44;&#x89E6;&#x53D1;&#x4E86;&#x66B4;&#x51FB;&#xFF01;
            p.yellow_2.mt_2
              | &#x8D2D;&#x4E70;
              span(class=availableColors[quality - 1])= name
              | &#x96C6;&#x8D44;&#x6548;&#x679C;&#xFF1A;
            p.ml_30.mt_2
              - var className = 'blue_drill'
              if result.bidtype == '1'
                - className = 'yellow_gold'
              span(class="yellow " + className)= '+' + (result.bid * result.crit) + '(暴击x' + result.crit + ')'
        .cl.mt_30.mb_10
          a.btn_2b.w90(href='javascript:void(0);',style="margin:0 auto;") 朕知道了
            //- a.btn_1y.fl.w90.ml_10(href='javascript:void(0);') &#x70AB;&#x8000;&#x4E00;&#x4E0B;
